<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="bg-dark d-flex justify-content-between p-3 border-bottom mb-3">
      <%= link_to "TaskManager", tasks_path %>
      <%= link_to "Login", tasks_path %>
    </nav>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
